<!DOCTYPE html>
<html lang="en">

	<%- include("partials/head") -%>

<body>

	<div style="background-image: url('img/leaves2.jpg');">

		<%- include("partials/navigationloggedin", {page:"account"}); -%>

		<div class="container light-style flex-grow-1 container-p-y py-5">

			<div class="card overflow-hidden">
				<div class="row no-gutters row-bordered row-border-light">
					<div class="col-md-3 pt-0">
						<div class="list-group list-group-flush account-settings-links">
							<a class="list-group-item list-group-item-action active" data-toggle="list"
								href="#messages">Messages</a>
							<a class="list-group-item list-group-item-action" data-toggle="list"
								href="#account-general">General</a>
							<a class="list-group-item list-group-item-action" data-toggle="list"
								href="#awards">Awards</a>
							<a class="list-group-item list-group-item-action" data-toggle="list"
								href="#communities">Communities</a>
							<a class="list-group-item list-group-item-action" data-toggle="list"
								href="#favourites">Favourites</a>
							<a class="list-group-item list-group-item-action" data-toggle="list"
								href="#events">Events</a>
							<a class="list-group-item list-group-item-action" data-toggle="list" href="#youritems">Your
								items</a>
							<a class="list-group-item list-group-item-action" data-toggle="list"
								href="#account-settings">Account Settings</a>
						</div>
					</div>


					<div class="col-md-9">
						<div class="tab-content">
							<div class="tab-pane fade" id="account-general" style="min-height: 800px;">
								<div class="card-body align-items-center">
									<img src="img/avatars/curious raccoon.jpg" alt="">
								</div>
								<hr class="border-light m-0">

								<div class="card-body">
									<%
							if(userData.length!=0){
							var i=1;
							userData.forEach(function(data){
							%>
									<form action="accountgeneral" method="POST">
									
									<div class="form-group">
										<label class="form-label">First name(s)</label>
										<input type="text" class="form-control" value="<%= data.FirstName %>" name="firstname">
									</div>
									<div class="form-group">
										<label class="form-label">Last name</label>
										<input type="text" class="form-control" value="<%= data.LastName %>" name="lastname">
									</div>
									<div class="form-group">
										<label class="form-label">E-mail</label>
										<input type="text" class="form-control mb-1" value="<%= data.Email %>" name="email">

									</div>

									<!-- city input-->
									<div class="control-group">
										<label class="control-label">City / Town</label>
										<div class="controls">
											<input id="city" name="city" type="text" class="input-xlarge"
												value="<%= data.City %>">
											<p class="help-block"></p>
										</div>
									</div>
									<!-- postal-code input-->
									<div class="control-group">
										<label class="control-label">Zip / Postal Code</label>
										<div class="controls">
											<input id="postal-code" name="postcode" type="text" class="input-xlarge"
												value="<%= data.PostCode %>">
											<p class="help-block"></p>
										</div>
									</div>
									<!-- country select -->
									<div class="control-group pb-4">
										<label class="control-label">Country</label>
										<div class="controls">
											<select id="country" name="country" class="input-xlarge">
												<option value="" selected="selected">(please select a country)
												</option>
												<option selected><%= data.Country %></option>
												<option name="Afghanistan">Afghanistan</option>
												<option name="Aland Islands">Aland Islands</option>
												<option name="Albania">Albania</option>
												<option name="Algeria">Algeria</option>
												<option name="American Samoa">American Samoa</option>
												<option name="Andorra">Andorra</option>
												<option name="Angola">Angola</option>
												<option name="Anguilla">Anguilla</option>
												<option name="Antarctica">Antarctica</option>
												<option name="Antigua and Barbuda">Antigua and Barbuda</option>
												<option name="Argentina">Argentina</option>
												<option name="Armenia">Armenia</option>
												<option name="Aruba">Aruba</option>
												<option name="Australia">Australia</option>
												<option name="Austria">Austria</option>
												<option name="Azerbaijan">Azerbaijan</option>
												<option name="Bahamas">Bahamas</option>
												<option name="Bahrain">Bahrain</option>
												<option name="Bangladesh">Bangladesh</option>
												<option name="Barbados">Barbados</option>
												<option name="Belarus">Belarus</option>
												<option name="Belgium">Belgium</option>
												<option name="Belize">Belize</option>
												<option name="Benin">Benin</option>
												<option name="Bermuda">Bermuda</option>
												<option name="Bhutan">Bhutan</option>
												<option name="Bolivia">Bolivia</option>
												<option name="Bonaire, Sint Eustatius and Saba">Bonaire, Sint Eustatius and Saba</option>
												<option name="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
												<option name="Botswana">Botswana</option>
												<option name="Bouvet Island">Bouvet Island</option>
												<option name="Brazil">Brazil</option>
												<option name="British Indian Ocean Territory">British Indian Ocean Territory</option>
												<option name="Brunei Darussalam">Brunei Darussalam</option>
												<option name="Bulgaria">Bulgaria</option>
												<option name="Burkina Faso">Burkina Faso</option>
												<option name="Burundi">Burundi</option>
												<option name="Cambodia">Cambodia</option>
												<option name="Cameroon">Cameroon</option>
												<option name="Canada">Canada</option>
												<option name="Cape Verde">Cape Verde</option>
												<option name="Cayman Islands">Cayman Islands</option>
												<option name="Central African Republic">Central African Republic</option>
												<option name="Chad">Chad</option>
												<option name="Chile">Chile</option>
												<option name="China">China</option>
												<option name="Christmas Island">Christmas Island</option>
												<option name="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
												<option name="Colombia">Colombia</option>
												<option name="Comoros">Comoros</option>
												<option name="Congo">Congo</option>
												<option name="Congo, Democratic Republic of the Congo">Congo, Democratic Republic of the Congo</option>
												<option name="Cook Islands">Cook Islands</option>
												<option name="Costa Rica">Costa Rica</option>
												<option name="Cote D'Ivoire">Cote D'Ivoire</option>
												<option name="Croatia">Croatia</option>
												<option name="Cuba">Cuba</option>
												<option name="Curacao">Curacao</option>
												<option name="Cyprus">Cyprus</option>
												<option name="Czech Republic">Czech Republic</option>
												<option name="Denmark">Denmark</option>
												<option name="Djibouti">Djibouti</option>
												<option name="Dominica">Dominica</option>
												<option name="Dominican Republic">Dominican Republic</option>
												<option name="Ecuador">Ecuador</option>
												<option name="Egypt">Egypt</option>
												<option name="El Salvador">El Salvador</option>
												<option name="Equatorial Guinea">Equatorial Guinea</option>
												<option name="Eritrea">Eritrea</option>
												<option name="Estonia">Estonia</option>
												<option name="Ethiopia">Ethiopia</option>
												<option name="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
												<option name="Faroe Islands">Faroe Islands</option>
												<option name="Fiji">Fiji</option>
												<option name="Finland">Finland</option>
												<option name="France">France</option>
												<option name="French Guiana">French Guiana</option>
												<option name="French Polynesia">French Polynesia</option>
												<option name="French Southern Territories">French Southern Territories</option>
												<option name="Gabon">Gabon</option>
												<option name="Gambia">Gambia</option>
												<option name="Georgia">Georgia</option>
												<option name="Germany">Germany</option>
												<option name="Ghana">Ghana</option>
												<option name="Gibraltar">Gibraltar</option>
												<option name="Greece">Greece</option>
												<option name="Greenland">Greenland</option>
												<option name="Grenada">Grenada</option>
												<option name="Guadeloupe">Guadeloupe</option>
												<option name="Guam">Guam</option>
												<option name="Guatemala">Guatemala</option>
												<option name="Guernsey">Guernsey</option>
												<option name="Guinea">Guinea</option>
												<option name="Guinea-Bissau">Guinea-Bissau</option>
												<option name="Guyana">Guyana</option>
												<option name="Haiti">Haiti</option>
												<option name="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
												<option name="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
												<option name="Honduras">Honduras</option>
												<option name="Hong Kong">Hong Kong</option>
												<option name="Hungary">Hungary</option>
												<option name="Iceland">Iceland</option>
												<option name="India">India</option>
												<option name="Indonesia">Indonesia</option>
												<option name="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
												<option name="Iraq">Iraq</option>
												<option name="Ireland">Ireland</option>
												<option name="Isle of Man">Isle of Man</option>
												<option name="Israel">Israel</option>
												<option name="Italy">Italy</option>
												<option name="Jamaica">Jamaica</option>
												<option name="Japan">Japan</option>
												<option name="Jersey">Jersey</option>
												<option name="Jordan">Jordan</option>
												<option name="Kazakhstan">Kazakhstan</option>
												<option name="Kenya">Kenya</option>
												<option name="Kiribati">Kiribati</option>
												<option name="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
												<option name="Korea, Republic of">Korea, Republic of</option>
												<option name="Kosovo">Kosovo</option>
												<option name="Kuwait">Kuwait</option>
												<option name="Kyrgyzstan">Kyrgyzstan</option>
												<option name="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
												<option name="Latvia">Latvia</option>
												<option name="Lebanon">Lebanon</option>
												<option name="Lesotho">Lesotho</option>
												<option name="Liberia">Liberia</option>
												<option name="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
												<option name="Liechtenstein">Liechtenstein</option>
												<option name="Lithuania">Lithuania</option>
												<option name="Luxembourg">Luxembourg</option>
												<option name="Macao">Macao</option>
												<option name="Macedonia, the Former Yugoslav Republic of">Macedonia, the Former Yugoslav Republic of</option>
												<option name="Madagascar">Madagascar</option>
												<option name="Malawi">Malawi</option>
												<option name="Malaysia">Malaysia</option>
												<option name="Maldives">Maldives</option>
												<option name="Mali">Mali</option>
												<option name="Malta">Malta</option>
												<option name="Marshall Islands">Marshall Islands</option>
												<option name="Martinique">Martinique</option>
												<option name="Mauritania">Mauritania</option>
												<option name="Mauritius">Mauritius</option>
												<option name="Mayotte">Mayotte</option>
												<option name="Mexico">Mexico</option>
												<option name="Micronesia, Federated States of">Micronesia, Federated States of</option>
												<option name="Moldova, Republic of">Moldova, Republic of</option>
												<option name="Monaco">Monaco</option>
												<option name="Mongolia">Mongolia</option>
												<option name="Montenegro">Montenegro</option>
												<option name="Montserrat">Montserrat</option>
												<option name="Morocco">Morocco</option>
												<option name="Mozambique">Mozambique</option>
												<option name="Myanmar">Myanmar</option>
												<option name="Namibia">Namibia</option>
												<option name="Nauru">Nauru</option>
												<option name="Nepal">Nepal</option>
												<option name="Netherlands">Netherlands</option>
												<option name="Netherlands Antilles">Netherlands Antilles</option>
												<option name="New Caledonia">New Caledonia</option>
												<option name="New Zealand">New Zealand</option>
												<option name="Nicaragua">Nicaragua</option>
												<option name="Niger">Niger</option>
												<option name="Nigeria">Nigeria</option>
												<option name="Niue">Niue</option>
												<option name="Norfolk Island">Norfolk Island</option>
												<option name="Northern Mariana Islands">Northern Mariana Islands</option>
												<option name="Norway">Norway</option>
												<option name="Oman">Oman</option>
												<option name="Pakistan">Pakistan</option>
												<option name="Palau">Palau</option>
												<option name="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
												<option name="Panama">Panama</option>
												<option name="Papua New Guinea">Papua New Guinea</option>
												<option name="Paraguay">Paraguay</option>
												<option name="Peru">Peru</option>
												<option name="Philippines">Philippines</option>
												<option name="Pitcairn">Pitcairn</option>
												<option name="Poland">Poland</option>
												<option name="Portugal">Portugal</option>
												<option name="Puerto Rico">Puerto Rico</option>
												<option name="Qatar">Qatar</option>
												<option name="Reunion">Reunion</option>
												<option name="Romania">Romania</option>
												<option name="Russian Federation">Russian Federation</option>
												<option name="Rwanda">Rwanda</option>
												<option name="Saint Barthelemy">Saint Barthelemy</option>
												<option name="Saint Helena">Saint Helena</option>
												<option name="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
												<option name="Saint Lucia">Saint Lucia</option>
												<option name="Saint Martin">Saint Martin</option>
												<option name="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
												<option name="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
												<option name="Samoa">Samoa</option>
												<option name="San Marino">San Marino</option>
												<option name="Sao Tome and Principe">Sao Tome and Principe</option>
												<option name="Saudi Arabia">Saudi Arabia</option>
												<option name="Senegal">Senegal</option>
												<option name="Serbia">Serbia</option>
												<option name="Serbia and Montenegro">Serbia and Montenegro</option>
												<option name="Seychelles">Seychelles</option>
												<option name="Sierra Leone">Sierra Leone</option>
												<option name="Singapore">Singapore</option>
												<option name="Sint Maarten">Sint Maarten</option>
												<option name="Slovakia">Slovakia</option>
												<option name="Slovenia">Slovenia</option>
												<option name="Solomon Islands">Solomon Islands</option>
												<option name="Somalia">Somalia</option>
												<option name="South Africa">South Africa</option>
												<option name="South Georgia and the South Sandwich Islands">South Georgia and the South Sandwich Islands</option>
												<option name="South Sudan">South Sudan</option>
												<option name="Spain">Spain</option>
												<option name="Sri Lanka">Sri Lanka</option>
												<option name="Sudan">Sudan</option>
												<option name="Suriname">Suriname</option>
												<option name="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
												<option name="Swaziland">Swaziland</option>
												<option name="Sweden">Sweden</option>
												<option name="Switzerland">Switzerland</option>
												<option name="Syrian Arab Republic">Syrian Arab Republic</option>
												<option name="Taiwan, Province of China">Taiwan, Province of China</option>
												<option name="Tajikistan">Tajikistan</option>
												<option name="Tanzania, United Republic of">Tanzania, United Republic of</option>
												<option name="Thailand">Thailand</option>
												<option name="Timor-Leste">Timor-Leste</option>
												<option name="Togo">Togo</option>
												<option name="Tokelau">Tokelau</option>
												<option name="Tonga">Tonga</option>
												<option name="Trinidad and Tobago">Trinidad and Tobago</option>
												<option name="Tunisia">Tunisia</option>
												<option name="Turkey">Turkey</option>
												<option name="Turkmenistan">Turkmenistan</option>
												<option name="Turks and Caicos Islands">Turks and Caicos Islands</option>
												<option name="Tuvalu">Tuvalu</option>
												<option name="Uganda">Uganda</option>
												<option name="Ukraine">Ukraine</option>
												<option name="United Arab Emirates">United Arab Emirates</option>
												<option name="United Kingdom">United Kingdom</option>
												<option name="United States">United States</option>
												<option name="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
												<option name="Uruguay">Uruguay</option>
												<option name="Uzbekistan">Uzbekistan</option>
												<option name="Vanuatu">Vanuatu</option>
												<option name="Venezuela">Venezuela</option>
												<option name="Viet Nam">Viet Nam</option>
												<option name="Virgin Islands, British">Virgin Islands, British</option>
												<option name="Virgin Islands, U.s.">Virgin Islands, U.s.</option>
												<option name="Wallis and Futuna">Wallis and Futuna</option>
												<option name="Western Sahara">Western Sahara</option>
												<option name="Yemen">Yemen</option>
												<option name="Zambia">Zambia</option>
												<option name="Zimbabwe">Zimbabwe</option>
											</select>
										</div>
									</div>
									<div class="text-right mt-3 pb-3">
										<button type="submit" class="btn btn-primary">Save changes</button>&nbsp;
									</div>
									<%  i++; }) %>
							<% } else{ %>
							  <tr>
								<td colspan="7">No Data Found</td>
							  </tr>
							<% } %>
									</form>
								</div>
							</div>

							<div class="tab-pane fade active show" id="messages" >
								<div class="content-wrapper" style="min-height: 800px;">
									<!-- Row start -->
									<div class="row gutters">
										<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
											<div class="card m-0">
												<!-- Row start -->
												<div class="row no-gutters">
													<div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3">
														<div class="users-container">
															<div class="chat-search-box">
																<div class="input-group">
																	<input class="form-control" placeholder="Search">
																	<div class="input-group-btn">
																		<button type="button"
																			class="btn btn-info btn-dark">
																			<i class="fa fa-search"></i>
																		</button>
																	</div>
																</div>
															</div>
															<ul class="users">

																<li class="person" data-chat="person1">
																	<div class="user">
																		<img src="img/avatars/selfie raccoon pexels-david-selbert.jpg"
																			alt="Retail Admin">
																		<span class="status offline"></span>
																	</div>
																	<p class="name-time">
																		<span class="name">Steve Bangalter</span>
																		<span class="time">15/02/2019</span>
																	</p>
																</li>
																<li class="person active-user" data-chat="person2">
																	<div class="user">
																		<img src="img/avatars/baby raccoon.jpg"
																			alt="Retail Admin">
																		<span class="status away"></span>
																	</div>
																	<p class="name-time">
																		<span class="name">Peter Gregor</span>
																		<span class="time">12/02/2019</span>
																	</p>
																</li>
																<li class="person" data-chat="person3">
																	<div class="user">
																		<img src="img/avatars/sleeping raccoon.jpg"
																			alt="Retail Admin">
																		<span class="status busy"></span>
																	</div>
																	<p class="name-time">
																		<span class="name">Jessica Larson</span>
																		<span class="time">11/02/2019</span>
																	</p>
																</li>
																<li class="person" data-chat="person4">
																	<div class="user">
																		<img src="img/avatars/cunning raccoon.jpg"
																			alt="Retail Admin">
																		<span class="status offline"></span>
																	</div>
																	<p class="name-time">
																		<span class="name">Lisa Guerrero</span>
																		<span class="time">08/02/2019</span>
																	</p>
																</li>
																<li class="person" data-chat="person5">
																	<div class="user">
																		<img src="img/avatars/cute raccoon.jpg"
																			alt="Retail Admin">
																		<span class="status away"></span>
																	</div>
																	<p class="name-time">
																		<span class="name">Michael Jordan</span>
																		<span class="time">05/02/2019</span>
																	</p>
																</li>
															</ul>
														</div>
													</div>
													<div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9">
														<div class="selected-user">
															<span>To: <span class="name">Emily Russell</span></span>
														</div>
														<div class="chat-container">
															<ul class="chat-box chatContainerScroll">
																<li class="chat-left">
																	<div class="chat-avatar">
																		<img src="img/avatars/baby raccoon.jpg"
																			alt="Retail Admin">
																		<div class="chat-name">Peter</div>
																	</div>
																	<div class="chat-text">Hello, I'm Peter and I am
																		interested in your sofa.
																	</div>
																	<div class="chat-hour">08:55 <span
																			class="fa fa-check-circle"></span></div>
																</li>
																<li class="chat-right">
																	<div class="chat-hour">08:56 <span
																			class="fa fa-check-circle"></span></div>
																	<div class="chat-text">Hi, Peter, it is still
																		available for collection. Would you like to
																		pickup?
																	</div>
																	<div class="chat-avatar">
																		<img src="img/avatars/curious raccoon.jpg"
																			alt="Retail Admin">
																		<div class="chat-name">Me</div>
																	</div>
																</li>
																<li class="chat-left">
																	<div class="chat-avatar">
																		<img src="img/avatars/baby raccoon.jpg"
																			alt="Retail Admin">
																		<div class="chat-name">Peter</div>
																	</div>
																	<div class="chat-text">I would love to collect. Can
																		I collect on Saturday?
																	</div>
																	<div class="chat-hour">08:57 <span
																			class="fa fa-check-circle"></span></div>
																</li>
																<li class="chat-right">
																	<div class="chat-hour">08:59 <span
																			class="fa fa-check-circle"></span></div>
																	<div class="chat-text">Yes that would be perfect. I
																		will send you my address in a minute </div>
																	<div class="chat-avatar">
																		<img src="img/avatars/curious raccoon.jpg"
																			alt="Retail Admin">
																		<div class="chat-name">Me</div>
																	</div>
																</li>

															</ul>
															<div class="form-group mt-3 mb-0">
																<textarea class="form-control" rows="3"
																	placeholder="Type your message here..."></textarea>
																<div class="col-xs-4">
																	<button class="btn btn-green btn-sm pull-right">
																		<i class="fa fa-location-arrow"></i> Send
																	</button>
																</div>
															</div>
														</div>
													</div>
												</div>
												<!-- Row end -->
											</div>

										</div>

									</div>
									<!-- Row end -->

								</div>

							</div>


							<div class="tab-pane fade" id="communities">
								<div class="card-body pb-5" style="min-height: 800px;">
									<div class="row">

										<div class="col">
											<ul>
												<li><a href="/community"><i class="fa fa-users"
															aria-hidden="true"></i>
														Books
												</li></a>
												<li><a href="/community"><i class="fa fa-users"
															aria-hidden="true"></i>
														Vintage
														Furniture
												</li></a>
												<li><a href="/community"><i class="fa fa-users"
															aria-hidden="true"></i>
														North
														London Foodbank
												</li></a>
												<li><a href="/community"><i class="fa fa-users"
															aria-hidden="true"></i>
														Bottle
														tops
												</li></a>
												<li><a href="/community"><i class="fa fa-users"
															aria-hidden="true"></i>
														Toys
												</li></a>
												<li><a href="/community"><i class="fa fa-users"
															aria-hidden="true"></i>
														House
														Plants
												</li></a>
											</ul>
											<div class="text-left mt-3 pb-3">
												<button type="button" class="btn btn-light">Browse more
													communities</button>&nbsp;
											</div>
										</div>

										<div class="col">
											<img src="img/raccoons.jpg" class="rounded" alt="two raccoons" style="height: 600px;
											width: 400px;">
										</div>
									</div>
								</div>
							</div>

							<div class="tab-pane fade" id="awards">
								<div class="card-body pb-5" style="min-height: 800px;">
									<div class="row">



										<div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
											<div class="block-4 text-center border">
												<figure class="block-4-image">
													<img src="img/badges/new.png" alt="Image placeholder"
														class="img-fluid" loading="lazy">
												</figure>
												<div class="block-4-text p-4">
													<h3>New member badge</h3>
													<p class="mb-0">You have made your first step towards helping your
														community and the environment.</p>
													<p class="mb-0">Congratulations!</p>
												</div>
											</div>
										</div>
										<div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
											<div class="block-4 text-center border">
												<figure class="block-4-image">
													<img src="img/badges/love.png" alt="Image placeholder"
														class="img-fluid" loading="lazy">
												</figure>
												<div class="block-4-text p-4">
													<h3>Charity badge</h3>
													<p class="mb-0">Well done!</p>
													<p class="mb-0">You took part in your first charity event</p>
												</div>
											</div>
										</div>
										<div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
											<div class="block-4 text-center border">
												<figure class="block-4-image">
													<img src="img/badges/thumb.png" alt="Image placeholder"
														class="img-fluid" loading="lazy">
												</figure>
												<div class="block-4-text p-4">
													<h3>Giving badge</h3>
													<p class="mb-0">You're giving back</p>
													<p class="mb-0">You have just given an item a new home and a
														second-life</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>


							<div class="tab-pane fade" id="favourites">
								<div class=" site-wrap" style="min-height: 800px;">
									<div class="site-section">
										<h3 class="pb-5 text-center">Your favourites</h3>
										<div class="container">
											<div class="row mb-5">

												<div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
													<div class="block-4 text-center border">
														<figure class="block-4-image pt-4">
															<a href="/offeritem"><img src="img/test/football.jpg"
																	alt="Image placeholder" class="img-fluid"
																	loading="lazy"></a>
														</figure>
														<div class="block-4-text p-4">
															<h3><a href="/offeritem">Football</a></h3>
															<p class="mb-0">Was my son's, now he has a new one
															</p>
														</div>
													</div>
												</div>
												<div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
													<div class="block-4 text-center border">
														<figure class="block-4-image pt-4">
															<a href="/offeritem"><img src="img/test/eggs.jpg"
																	alt="Image placeholder" class="img-fluid"
																	loading="lazy"></a>
														</figure>
														<div class="block-4-text p-4">
															<h3><a href="/offeritem">Eggs</a></h3>
															<p class="mb-0">I accidentally bought too many so I
																am giving
																away a
																dozen</p>
														</div>
													</div>
												</div>
												<div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
													<div class="block-4 text-center border">
														<figure class="block-4-image pt-4">
															<a href="/offeritem"><img src="img/test/seedlings.jpg"
																	alt="Image placeholder" class="img-fluid"
																	loading="lazy"></a>
														</figure>
														<div class="block-4-text p-4">
															<h3><a href="/offeritem">Seedlings</a></h3>
															<p class="mb-0">From my mum's garden</p>
														</div>
													</div>
												</div>

												<div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
													<div class="block-4 text-center border">
														<figure class="block-4-image pt-4">
															<a href="/offeritem"><img src="img/test/teddy.jpg"
																	alt="Image placeholder" class="img-fluid"
																	loading="lazy"></a>
														</figure>
														<div class="block-4-text p-4">
															<h3><a href="/offeritem">Teddy bear</a></h3>
															<p class="mb-0">Finding a new home</p>
														</div>
													</div>
												</div>
												<div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
													<div class="block-4 text-center border">
														<figure class="block-4-image pt-4">
															<a href="/offeritem"><img src="img/test/table.jpg"
																	alt="Image placeholder" class="img-fluid"
																	loading="lazy"></a>
														</figure>
														<div class="block-4-text p-4">
															<h3><a href="/offeritem">Table</a></h3>
															<p class="mb-0">Used, we are moving so we need a
																bigger one</p>
														</div>
													</div>
												</div>
												<div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
													<div class="block-4 text-center border">
														<figure class="block-4-image pt-4">
															<a href="/offeritem"><img src="img/test/rabbit.jpg"
																	alt="Image placeholder" class="img-fluid"
																	loading="lazy"></a>
														</figure>
														<div class="block-4-text p-4">
															<h3><a href="/offeritem">Fluffy rabbit </a></h3>
															<p class="mb-0">I made this to give away to someone
																who needs a
																little something
																for a new baby</p>
														</div>
													</div>
												</div>
											</div>

										</div>
									</div>
									<div class="row" data-aos="fade-up">
										<div class="col-md-12 text-center">
											<div class="site-block-27 pb-4">
												<ul>
													<li><a href="#">&lt;</a></li>
													<li class="active"><span>1</span></li>
													<li><a href="#">2</a></li>
													<li><a href="#">3</a></li>
													<li><a href="#">4</a></li>
													<li><a href="#">5</a></li>
													<li><a href="#">&gt;</a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>


							<div class="tab-pane fade" id="events">

								<div class=" site-wrap" style="min-height: 800px;">

									<div class="site-section">
										<h3 class="text-center">You have registered for the below events</h3>
										<div class="container">
											<div class="row mb-5 pt-5">

												<div class="col-sm-6 col-lg-6 mb-4" data-aos="fade-up">
													<div class="block-4 text-center border">

														<div class="block-4-text p-4">
															<h3><a href="/offeritem">Bottle Tops needed</a></h3>
															<p class="mb-0">Apple Tree Primary School is searching for
																milk and
																fizzy drink
																bottle tops for a school art project</p>
														</div>
													</div>
												</div>
												<div class="col-sm-6 col-lg-6 mb-4" data-aos="fade-up">
													<div class="block-4 text-center border">

														<div class="block-4-text p-4">
															<h3><a href="/offeritem">Period Products</a></h3>
															<p class="mb-0">Poppy Street High School is collecting
																period products
																to help
																end period poverty</p>
														</div>
													</div>
												</div>
												<div class="col-sm-6 col-lg-6 mb-4" data-aos="fade-up">
													<div class="block-4 text-center border">

														<div class="block-4-text p-4">
															<h3><a href="/offeritem">Broken tiles</a></h3>
															<p class="mb-0">We are a small cafe and are currently making
																over our
																kitchen.
																We are looking for broken tiles for this DIY project
															</p>
														</div>
													</div>
												</div>
												<div class="col-sm-6 col-lg-6 mb-4" data-aos="fade-up">
													<div class="block-4 text-center border">

														<div class="block-4-text p-4">
															<h3><a href="/offeritem">Sleeping bags and warm
																	clothes</a></h3>
															<p class="mb-0">Local homelessness charity is collecting for
																our next
																distribution event</p>
														</div>
													</div>
												</div>
											</div>
											<div class="row" data-aos="fade-up">
												<div class="col-md-12 text-center">
													<div class="site-block-27 pb-3">
														<ul>
															<li><a href="#">&lt;</a></li>
															<li class="active"><span>1</span></li>
															<li><a href="#">2</a></li>
															<li><a href="#">3</a></li>
															<li><a href="#">4</a></li>
															<li><a href="#">5</a></li>
															<li><a href="#">&gt;</a></li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="tab-pane fade" id="account-settings">
								<div class="card-body pb-2" style="min-height: 800px;">

									<h3>Change Password</h3>

									<div class="form-group py-3">
										<label class="form-label">Current password</label>
										<input type="password" class="form-control">
									</div>

									<div class="form-group pb-2">
										<label class="form-label">New password</label>
										<input type="password" class="form-control">
									</div>

									<div class="form-group pb-2">
										<label class="form-label">Repeat new password</label>
										<input type="password" class="form-control">
									</div>

									<h3>Notifications</h3>

									<div class="form-group pt-5">
										<label class="switcher">
											<input type="checkbox" class="switcher-input" checked="">
											<span class="switcher-indicator">
												<span class="switcher-yes"></span>
												<span class="switcher-no"></span>
											</span>
											<span class="switcher-label">Email me when someone messages
												me</span>
										</label>
									</div>
									<div class="form-group pt-5">
										<label class="switcher">
											<input type="checkbox" class="switcher-input" checked="">
											<span class="switcher-indicator">
												<span class="switcher-yes"></span>
												<span class="switcher-no"></span>
											</span>
											<span class="switcher-label">Email me when someone favourites
												one of my
												items
											</span>
										</label>
									</div>
									<div class="form-group pt-5">
										<label class="switcher">
											<input type="checkbox" class="switcher-input" checked="">
											<span class="switcher-indicator">
												<span class="switcher-yes"></span>
												<span class="switcher-no"></span>
											</span>
											<span class="switcher-label">Email any new relevent items near
												me</span>
										</label>
									</div>
									<div class="form-group py-5">
										<label class="switcher">
											<input type="checkbox" class="switcher-input" checked="">
											<span class="switcher-indicator">
												<span class="switcher-yes"></span>
												<span class="switcher-no"></span>
											</span>
											<span class="switcher-label">Email any activity in my
												communities</span>
										</label>
									</div>
									<div class="text-right mt-3 pb-3">
										<button type="button" class="btn btn-primary">Save
											changes</button>&nbsp;
									</div>
								</div>

							</div>


							<div class="tab-pane fade" id="youritems">



								<div class=" site-wrap" style="min-height: 800px;">
									<div class="site-section">
										<h3 class="pb-5 text-center">Your Items</h3>
										<div class="container">
											<div class="row mb-5">

												<div class="col-sm-6 col-lg-4 mb-4">

													<div class="block-4 text-center border" style="height: 100%;">
														<h3 class="mb-3 h6 text-uppercase text-black d-block pt-5">Add
															an
															item
														</h3>
														<a class="btn btn-primary" href="/additem"><i
																class="fas fa-plus"></i>
														</a>

													</div><br />
												</div>


												<div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
													<div class="block-4 text-center border">
														<figure class="block-4-image pt-4">
															<a href="/offeritem"><img src="img/test/eggs.jpg"
																	alt="Image placeholder" class="img-fluid"
																	loading="lazy"></a>
														</figure>
														<div class="block-4-text p-4">
															<h3><a href="/offeritem">Eggs</a></h3>
															<p class="mb-0">I accidentally bought too many so I
																am giving
																away a
																dozen</p>
														</div>
													</div>
												</div>
												<div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
													<div class="block-4 text-center border">
														<figure class="block-4-image pt-4">
															<a href="/offeritem"><img src="img/test/seedlings.jpg"
																	alt="Image placeholder" class="img-fluid"
																	loading="lazy"></a>
														</figure>
														<div class="block-4-text p-4">
															<h3><a href="/offeritem">Seedlings</a></h3>
															<p class="mb-0">From my mum's garden</p>
														</div>
													</div>
												</div>

												<div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
													<div class="block-4 text-center border">
														<figure class="block-4-image pt-4">
															<a href="/offeritem"><img src="img/test/teddy.jpg"
																	alt="Image placeholder" class="img-fluid"
																	loading="lazy"></a>
														</figure>
														<div class="block-4-text p-4">
															<h3><a href="/offeritem">Teddy bear</a></h3>
															<p class="mb-0">Finding a new home</p>
														</div>
													</div>
												</div>
												<div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
													<div class="block-4 text-center border">
														<figure class="block-4-image pt-4">
															<a href="/offeritem"><img src="img/test/table.jpg"
																	alt="Image placeholder" class="img-fluid"
																	loading="lazy"></a>
														</figure>
														<div class="block-4-text p-4">
															<h3><a href="/offeritem">Table</a></h3>
															<p class="mb-0">Used, we are moving so we need a
																bigger one</p>
														</div>
													</div>
												</div>
												<div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
													<div class="block-4 text-center border">
														<figure class="block-4-image pt-4">
															<a href="/offeritem"><img src="img/test/rabbit.jpg"
																	alt="Image placeholder" class="img-fluid"
																	loading="lazy"></a>
														</figure>
														<div class="block-4-text p-4">
															<h3><a href="/offeritem">Fluffy rabbit </a></h3>
															<p class="mb-0">I made this to give away to someone
																who needs a
																little something
																for a new baby</p>
														</div>
													</div>
												</div>
											</div>

										</div>
									</div>
									<div class="row" data-aos="fade-up">
										<div class="col-md-12 text-center">
											<div class="site-block-27 pb-4">
												<ul>
													<li><a href="#">&lt;</a></li>
													<li class="active"><span>1</span></li>
													<li><a href="#">2</a></li>
													<li><a href="#">3</a></li>
													<li><a href="#">4</a></li>
													<li><a href="#">5</a></li>
													<li><a href="#">&gt;</a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>

							</div>



						</div>
					</div>
				</div>
			</div>
		</div>



		<!-- Start Footer -->
		<footer>
			<div class="container">
				<div class="row text-light text-center py-4 justify-content-center">

					<div class="col-sm-10 col-md-8 col-lg-6">
						<h4>Find us on our Socials</h4>
						<ul class="social pt-3">
							<li><a href="#" target="-blank"><i class="fab fa-facebook"></i></a></li>
							<li><a href="#" target="-blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="-blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="-blank"><i class="fab fa-youtube"></i></a></li>
						</ul>
						<p class="pt-4">&copy; <a
								href="https://www.ibm.com/uk-en?p1=Search&p4=43700052448841159&p5=e&gclid=CjwKCAjwt8uGBhBAEiwAayu_9RiWGlIK-td-ZExRQ7Ez-MLdqCXJbzrivRuE1uDkvki01kXlk2TFpxoCG-EQAvD_BwE&gclsrc=aw.ds"
								target="_black">www.ibm.com</a></p>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<!-- End Footer -->

	<!-- Script Source Files -->

	<!-- jQuery -->
	<script src="js/jquery-3.5.1.min.js"></script>
	<!-- Bootstrap 4.5 JS -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Popper JS -->
	<script src="js/popper.min.js"></script>
	<!-- Font Awesome -->
	<script src="js/all.min.js"></script>

	<!-- End Script Source Files -->
</body>

</html>