<!DOCTYPE html>
<html lang="en">

	<%- include("partials/head") -%>

	<body>
		<%- include("partials/navigation", {page:"communities"}); -%>

		<!-- End Navigation -->

		<div class=" site-wrap bg-light">
			<div class="site-section">
				<div class="container">
					<div class="row mb-5">
						<div class="col-md-9 order-2">
							<div class="row">
								<div class="col-md-12 mb-5">
	
									<div class="col-12 text-center mt-2 bg-light">
										<h1 class="text-dark">Communities</h1>
										<div class="border-top border-primary d-none d-lg-block w-25 mx-auto my-3">
										</div>
										<p class="lead">Find like-minded communities to join and give items a second (or
											third) life</p>
									</div>	
									<div class="d-flex">
										<div class="btn-group">
											<button type="button" class="btn btn-secondary btn-sm dropdown-toggle"
												id="dropdownMenuReference" data-toggle="dropdown">Reference</button>
											<div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
												<a class="dropdown-item" href="/communitiessort?sort=atoz">Name, A to Z</a>
												<a class="dropdown-item" href="/communitiessort?sort=ztoa">Name, Z to A</a>
												<a class="dropdown-item" href="/communitiessort?sort=date">Date added, newest
													first</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row mb-5">
	
								<%
								if(communityData.length!=0){
								var i=1;
								communityData.forEach(function(data){
								%>
								
								
									  <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
										<div class="block-4 text-center border">
										  <div class="block-4-text p-4">
											<h3><a href="/community?communityid=<%= data.CommunityID %>"><%=data.CommunityName %> </a></h3>
											
											<br />
											<p class="mb-0"><%=data.Description %></p>
											<p class="mb-0"></p><%=data.Category %></p>
										  </div>
										</div>
									  </div>
												   
											  <%  i++; }) %>
								<% } else{ %>
								  <tr>
									<td colspan="7">No Data Found</td>
								  </tr>
								<% } %>
								
	
								
	
	
							</div>
							<div class="row" data-aos="fade-up">
								<div class="col-md-12 text-center">
									<div class="site-block-27">
										<ul>
											<li><a href="#">&lt;</a></li>
											<li class="active"><span>1</span></li>
											<li><a href="#">2</a></li>
											<li><a href="#">3</a></li>
											<li><a href="#">4</a></li>
											<li><a href="#">5</a></li>
											<li><a href="#">&gt;</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
	
						<div class="col-md-3 order-1 mb-5 mb-md-0">
	
	
							<div class="border p-4 rounded mb-4">
								<h3 class="mb-3 h6 text-uppercase text-black d-block">Categories</h3>
								<ul class="list-unstyled mb-0">
								<li class="mb-1"><a href="/communitiescat?cat=books" class="d-flex"><span>Books</span> </a></li>
								<li class="mb-1"><a href="/communitiescat?cat=clothing" class="d-flex"><span>Clothing</span></a></li>
								<li class="mb-1"><a href="/communitiescat?cat=electronics" class="d-flex"><span>Electronics</span>
									</a></li>
								<li class="mb-1"><a href="/communitiescat?cat=food" class="d-flex"><span>Food</span></a></li>
								<li class="mb-1"><a href="/communitiescat?cat=home" class="d-flex"><span>Home</span> </a></li>
								<li class="mb-1"><a href="/communitiescat?cat=garden" class="d-flex"><span>Garden</span> </a></li>
								<li class="mb-1"><a href="/communitiescat?cat=sports" class="d-flex"><span>Sports</span> </a></li>
								<li class="mb-1"><a href="/communitiescat?cat=toys" class="d-flex"><span>Toys</span></a></li>
								<li class="mb-1"><a href="/communitiescat?cat=healthandbeauty" class="d-flex"><span>Health and Beauty</span>
									</a></li>
								<li class="mb-1"><a href="/communitiescat?cat=hobbies" class="d-flex"><span>Hobbies</span></a></li>
								<li class="mb-1"><a href="/communitiescat?cat=other" class="d-flex"><span>Other</span></a></li>
								<a href="/communities"><button  type="button" class="btn btn-primary">Reset</button></a>
							</div>
	
							<div class="border p-4 rounded mb-4">
								<div class="mb-4">
									<h3 class="mb-3 h6 text-uppercase text-black d-block">Search Keyword
									</h3>
									<form action="searchcom" method="POST">
										<div class="form-outline">
											<input type="search" id="form1" class="form-control" name="search" />
											<br />
										</div>
										<button type="submit" class="btn btn-primary">
											<i class="fas fa-search"></i>
										</button>
										
									</form>
									<br />
									<a href="/communities"><button  type="button" class="btn btn-primary">Reset</button></a>
								</div>
							</div>
							
						</div>
						
					</div>
				</div>
			</div>
		</div>
	
	
		<!-- Start Fixed Background IMG -->
	
		<div class="fixed-background">
			<div class="fixed-wrap">
				<div class="fixed"></div>
			</div>
		</div>
	
	
	
		<!-- Start Footer -->
		<footer>
			<div class="container">
				<div class="row text-light text-center py-4 justify-content-center">
	
					<div class="col-sm-10 col-md-8 col-lg-6">
						<h4>Find us on our Socials</h4>
						<ul class="social pt-3">
							<li><a href="#" target="-blank"><i class="fab fa-facebook"></i></a></li>
							<li><a href="#" target="-blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="-blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="-blank"><i class="fab fa-youtube"></i></a></li>
						</ul>
						<p class="pt-4">&copy; <a
								href="https://www.ibm.com/uk-en?p1=Search&p4=43700052448841159&p5=e&gclid=CjwKCAjwt8uGBhBAEiwAayu_9RiWGlIK-td-ZExRQ7Ez-MLdqCXJbzrivRuE1uDkvki01kXlk2TFpxoCG-EQAvD_BwE&gclsrc=aw.ds"
								target="_black">www.ibm.com</a></p>
					</div>
				</div>
			</div>
		</footer>
	
		<!-- End Footer -->
	
		<!-- Script Source Files -->
	
		<!-- jQuery -->
		<script src="js/jquery-3.5.1.min.js"></script>
		<!-- Bootstrap 4.5 JS -->
		<script src="js/bootstrap.min.js"></script>
		<!-- Popper JS -->
		<script src="js/popper.min.js"></script>
		<!-- Font Awesome -->
		<script src="js/all.min.js"></script>
	
	
		<script src="js/jquery-3.3.1.min.js"></script>
		<script src="js/jquery-ui.js"></script>
		<script src="js/popper.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/jquery.magnific-popup.min.js"></script>
		<script src="js/aos.js"></script>
	
		<script src="js/main.js"></script>
	
		<!-- End Script Source Files -->
	</body>
	
	</html>