<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") -%>

  <body>
    <%- include("partials/navigationloggedin", {page:"browse"}); -%>

    <!-- Navigation -->
    <nav class="subnavbar navbar-expand-lg">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/browseloggedin">Offers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/browsewantedloggedin">Wanted</a>
        </li>
      </ul>
    </nav>

    <!-- End Navigation -->

    <% if(itemData.length!=0){ var i=1; itemData.forEach(function(data){ %>

    <div class="site-wrap bg-light">
      <div class="site-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-12 pt-3">
                <h2 class="text-black"><%=data.Title %></h2>
                <p><%=data.Description %></p>
                <p>
                  <a
                    href="mailto:<%=data.Email %>?subject=Query about item '<%=data.Title %>'"
                    class="buy-now btn btn-sm btn-primary"
                    >Send an email</a
                  >
                </p>
                <p>
                  <a class="btn btn-primary text-light" title="Add to favourites"
                    ><i class="fas fa-heart"></i>
                  </a>
                </p>
              </div>
            </div>

            <% i++; }) %> <% } else{ %>
            <tr>
              <td colspan="7">No Data Found</td>
            </tr>
            <% } %>

            <div class="col-md-12">
              <div class="card card-cascade narrower">
                <div class="card-body card-body-cascade text-center">
                  <div
                    id="map-container-google-9"
                    class="z-depth-1-half map-container-5"
                    style="height: 300px"
                  >
                    <iframe
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9716.275418495366!2d-1.8940482058844144!3d52.4959931891886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4870bb5085730b79%3A0xff37ed7e2a4e9dcc!2sAston%2C%20Birmingham%20B6%204DU!5e0!3m2!1sen!2suk!4v1624274855025!5m2!1sen!2suk"
                      frameborder="0"
                      style="border: 0"
                      allowfullscreen
                    ></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Start Fixed Background IMG -->

    <div class="fixed-background">
      <div class="fixed-wrap">
        <div class="fixed"></div>
      </div>
    </div>

    <!-- Start Footer -->
    <footer>
      <div class="container">
        <div class="row text-light text-center py-4 justify-content-center">
          <div class="col-sm-10 col-md-8 col-lg-6">
            <h4>Find us on our Socials</h4>
            <ul class="social pt-3">
              <li>
                <a href="#" target="-blank"><i class="fab fa-facebook"></i></a>
              </li>
              <li>
                <a href="#" target="-blank"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#" target="-blank"><i class="fab fa-instagram"></i></a>
              </li>
              <li>
                <a href="#" target="-blank"><i class="fab fa-youtube"></i></a>
              </li>
            </ul>
            <p class="pt-4">
              &copy;
              <a
                href="https://www.ibm.com/uk-en?p1=Search&p4=43700052448841159&p5=e&gclid=CjwKCAjwt8uGBhBAEiwAayu_9RiWGlIK-td-ZExRQ7Ez-MLdqCXJbzrivRuE1uDkvki01kXlk2TFpxoCG-EQAvD_BwE&gclsrc=aw.ds"
                target="_black"
                >www.ibm.com</a
              >
            </p>
          </div>
        </div>
      </div>
    </footer>

    <!-- End Footer -->
    <!-- jQuery -->
    <script src="js/jquery-3.5.1.min.js"></script>
    <!-- Bootstrap 4.5 JS -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Popper JS -->
    <script src="js/popper.min.js"></script>
    <!-- Font Awesome -->
    <script src="js/all.min.js"></script>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/aos.js"></script>

    <script src="js/main.js"></script>

    <!-- End Script Source Files -->
  </body>
</html>
